<!-- Validation failure messages -->
<% if @vote.errors.any? %>
  <% @vote.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Vote</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_vote" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for choice_id -->
      <div class="form-group">
        <label for="choice_id" class="control-label">
          Choice
        </label>

        <input type="text" id="choice_id" name="choice_id" placeholder="Choice" class="form-control" value="<%= @vote.choice_id %>">
      </div>

      <!-- Label and input for guest_id -->
      <div class="form-group">
        <label for="guest_id" class="control-label">
          Guest
        </label>

        <input type="text" id="guest_id" name="guest_id" placeholder="Guest" class="form-control" value="<%= @vote.guest_id %>">
      </div>

      <button class="btn btn-success">
        Create Vote
      </button>
      or
      <a href="/votes">Cancel</a>
    </form>
  </div>
</div>
